<section class="table-container mat-elevation-z8" tabindex="0">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applySearch($event)" placeholder="" #input>
  </mat-form-field>
  
  <article class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
        </td>
      </ng-container>

      <!-- CollectionCode Column -->
      <ng-container matColumnDef="collectionCode">
        <th mat-header-cell *matHeaderCellDef> Collection Code </th>
        <td mat-cell *matCellDef="let element"> {{element.collectionCode}} </td>
      </ng-container>

      <!-- Farmer Column -->
      <ng-container matColumnDef="farmer">
        <th mat-header-cell *matHeaderCellDef> Farmer </th>
        <td mat-cell *matCellDef="let element"> {{element.farmer}} </td>
      </ng-container>

      <!-- CollectionSize Column -->
      <ng-container matColumnDef="collectionSize">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Collection Size </th>
        <td mat-cell *matCellDef="let element"> {{element.collectionSize}} </td>
      </ng-container>

      <!-- CollectionDate Column -->
      <ng-container matColumnDef="collectionDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Collection Date </th>
        <td mat-cell *matCellDef="let element"> {{element.collectionDate}} </td>
      </ng-container>

      <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of collections"></mat-paginator>
  </article>
</section>
