.table-container {
  height: max-content;
  width: 80%;
  overflow: auto;
  margin-inline: auto;
  margin-top: 2rem;
  padding: 1rem;
}

table {
  width: 100%;

}

.header {
  background-color: #1e255b;
  color: white;
}